* {
    margin: 0;
    padding: 0;
}

/* Barra de navegacion
 */
 .bg-body-cust{
    background-color: rgb(55, 191, 118);
    width: 100%;
    z-index: 9999;
}

.bordeMailContacto{
    margin-right: 7px;
}

.contenedorDudas{
    margin: 120px 120px;
    background-image: url("../image/mujer_turista_md_cortada.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    
 
}



.contenedorDudas .columnaDudas p{
    font-size: 2rem;
    font-family: 'Alkatra', cursive;
    color: rgb(212, 187, 187);
} 

.columnaDudas p{
    padding: 30px;
}

#dudasparr-1{
    font-size: 20px;
    color: white;
}

#dudasparr-3{
    font-size: 2rem;
    color: #e4ba59;
}


#divFormDudas{
    padding: 40px;
}
#formDudas{
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    padding: 45px;
    margin: 30px 0px 30px 0px;
}

.formulario > input {
    border-radius: 3px;
    align-items: center;
}

.formulario > textarea {
    border-radius: 3px;
}
#formDudas > button{
    width: 70%;
    min-width: 50%;
    align-self: center;
    /* margin: 20px;
    margin: 0px 130px; */
} 

#formDudas > button:hover{
    background-color: rgba(29, 71, 197, 0.411);
    border: 2px solid rgb(196, 111, 111);
    color: aliceblue;
}

.contTituServ::before{
    display: block;       
    content: " ";       
    margin-top: -120px;       
    height: 120px;       
    visibility: hidden; 

}

.h1styles{
    height: 120px;
    font-size: 3rem;
    background-color: rgba(0, 0, 0, 0.363);
    display: flex;
    padding: 30px;
    align-items: center;
    /* align-content: flex-end; */
}


.grillaServicios{
    margin: 30px;
   
}
.row-servicios{
    margin: 20px;
}

.img-fluid{
    
    border-radius: 10px;
    display: block;
    transition: all 0.2s ease;
    
}

.overlay{
    
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    /* text-align:center; */
    
    
}

.overlay p{
    font-size: 20px;
    font-family: 'Lobster', cursive;
    /* font-weight: bold; */
    margin-bottom: 0;
    
    
    
}

.cuadricula{
    position:relative;
    display: flex;
    
}
.cuadricula:hover img{
    opacity: 0.2;
}
.cuadricula:hover .overlay{
    opacity: 1;
}


.nosCabezera{
    display: flex;
    padding: 30px;
    align-items: center;
    background-color: rgba(193, 39, 224, 0.874);
}

.nosCabezera > h2{
    color: rgb(11, 47, 124);
}



.contTituNos::before{
    display: block;       
    content: " ";       
    margin-top: -120px;       
    height: 120px;       
    visibility: hidden; 

}

.grillaNosotros{
    margin: 30px;
   
}

/* .row-nosotros{
    margin: 10px;
} */


.mmm {
    
    padding: 5px;
}

.separacion{
    justify-content: space-between;
    /* padding: 10px; */
}


.contenedor-footer-all{
    background-color: rgb(133, 159, 244);

    
}

.box1{
    /* width: 400px; */
    margin-top: 20px;
}

/* .redes1{
    margin-top: 1px;
} */
.redes2{
    margin-top: 20px;
}

.box2 h2{
    font-size: 28px;
    font-family: 'Kalam', cursive;
}

.row-footer a{
    text-decoration: none;
    
}

.box3 h2{
    font-size: 28px;
    font-family: 'Kalam', cursive;
}

/* #maps{
    display:inline;
} */
.contenedor-footer-copyright{
    background-color: black;
   
}

#contenedor-footer-copyright  h6{
    color: rgb(237, 211, 211);
    align-content: center;
    
    
}

.bordeGuia{
    border: 1px solid rgb(241, 71, 71);
}

/* Media Q */
