* {
    margin: 0;
    padding: 0;
}

/* Barra de navegacion
 */
 .bg-body-cust{
    background-color: rgb(55, 191, 118);
}

.bordeMailContacto{
    margin-right: 7px;
}



/* .navList > li {
    list-style: none;
    
}

.navList > li > a{
    text-decoration: none;
    font-family: 'Lucida Sans';
    color: white;
}

.navList > li > a:hover{
 
    color: red;
} */

/* .mainContainer{
    border: 1px solid rgb(219, 26, 26);
    display: flex;
}

.containerDesarrollo{
    margin-top: 75.792px;
    border: 1px solid rgb(219, 26, 26);
    width: 50%;
    height: 300px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    
    
}

.containerFormCorto{
    margin-top: 75.792px;
    border: 1px solid rgb(219, 26, 26);
    width: 35%;
} */

.container{
    border: 1px solid rgb(219, 26, 26);
}