* {
    margin: 0;
    padding: 0;
}

/* Barra de navegacion
 */
 .bg-body-cust{
    background-color: rgb(55, 191, 118);
    width: 100%;
    z-index: 9999;
}

.bordeMailContacto{
    margin-right: 7px;
}

.contenedorDudas{
    margin: 120px 120px;
    background-image: url("../image/6345959.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    
 
}



.contenedorDudas .columnaDudas p{
    font-size: 2rem;
    font-family: 'Alkatra', cursive;
    color: rgb(212, 187, 187);
} 

.columnaDudas p{
    padding: 30px;
}

#dudasparr-1{
    font-size: 20px;
    color: white;
}

#dudasparr-3{
    font-size: 2rem;
    color: #e3f74c;
    
}


#divFormDudas{
    padding: 40px;
}
#formDudas{
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    padding: 45px;
    margin: 30px 0px 30px 0px;
}

.formulario > input {
    border-radius: 3px;
    align-items: center;
}

.formulario > textarea {
    border-radius: 3px;
}
#formDudas > button{
    width: 70%;
    min-width: 50%;
    align-self: center;
    
} 

#formDudas > button:hover{
    background-color: rgba(29, 71, 197, 0.411);
    border: 2px solid rgb(196, 111, 111);
    color: aliceblue;
}

.contTituServ::before{
    display: block;       
    content: " ";       
    margin-top: -120px;       
    height: 120px;       
    visibility: hidden; 

}

.h1styles{
    height: 120px;
    font-size: 3rem;
    background-color: rgba(0, 0, 0, 0.363);
    display: flex;
    padding: 30px;
    align-items: center;
    
}


.grillaServicios{
    margin: 30px;
   
}
.row-servicios{
    margin: 20px;
}

.img-fluid{
    
    border-radius: 10px;
    display: block;
    transition: all 0.2s ease;
    
}

.overlay{
    
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    
    
    
}

.overlay p{
    font-size: 20px;
    font-family: 'Lobster', cursive;
    
    margin-bottom: 0;
    
    
    
}

.cuadricula{
    position:relative;
    display: flex;
    padding: 12px;
    
}
.cuadricula:hover img{
    opacity: 0.2;
}
.cuadricula:hover .overlay{
    opacity: 1;
}


.nosCabezera{
    display: flex;
    padding: 30px;
    align-items: center;
    background-color: rgba(193, 39, 224, 0.874);
}

.nosCabezera > h2{
    color: rgb(11, 47, 124);
}



.contTituNos::before{
    display: block;       
    content: " ";       
    margin-top: -120px;       
    height: 120px;       
    visibility: hidden; 

}

.grillaNosotros{
    margin: 30px;
   
}


.mmm {
    
    padding: 5px;
}

.separacion{
    justify-content: space-between;
    
}


.contenedor-footer-all{
    background-color: rgb(133, 159, 244);

    
}

.container-logo-footer img{
    width: 130px;
    height: 130px;
}
.box1 figure a{

    margin-top: 20px;
    align-content: center;
    justify-content: center;
}


.contactanos-ico{
    margin-bottom: 20px
}
.contactanos-ico a{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content:center;
    margin-right: 12px;
    border: 2px solid rgb(223, 223, 240);
    border-radius: 50%;
    transition: all 0.2 ease-in;
}

.contactanos-ico i{
    color: rgb(223, 223, 240) ;
    transition: all 0.2 ease-in;
}

.contactanos-ico a:hover{
    background-color: white;
    border: 2px solid black;
}

.contactanos-ico a:hover i{
    color: black;
}

.redes1{
    margin-bottom: 20px;
}
.redes1 a{
    
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    
    border: 2px solid rgb(223, 223, 240);
    border-radius: 50%;
}

.redes1 i{
    color: rgb(223, 223, 240) ;
    transition: all 0.2 ease-in;
}
.redes1 a:hover{
    background-color: white;
    border: 2px solid black;
}

.redes1 a:hover i{
    color: black;
}

.box2 h2{
    font-size: 28px;
    font-family: 'Kalam', cursive;
}

.row-footer a{
    text-decoration: none;
    
}

.box3{
    justify-content:space-evenly;
}
.box3 h2{
    font-size: 28px;
    font-family: 'Kalam', cursive;
}



.contenedor-footer-copyright{
    background-color: black;
   
}

#contenedor-footer-copyright  h6{
    color: rgb(237, 211, 211);
    align-content: center;
    align-items: center;
    
    
}

.row-copyright{
    align-items: center;
    justify-content: center;
    padding: 5px ;
    
}

.h6copy{
    display:flex;
    justify-content: center;
}
.bordeGuia{
    border: 1px solid rgb(241, 71, 71);
}

/* Media Q */
@media (min-width:320px) and (max-width: 530px){
    #divFormDudas{
        padding: 0px;
    }
}

@media (min-width:320px) and (max-width: 420px){
   .contenedorDudas .columnaDudas p{
    font-size: 1rem;
    font-family: 'Alkatra', cursive;
    color: rgb(194, 187, 212);
    }

    .columnaDudas p{
        padding: 20px;
    }

    #dudasparr-1{
    font-size: 15px;
    color: white;
    }

    #dudasparr-3{
    font-size: 1rem;
    color: #e3f74c;
    }

}

@media (min-width:320px) and (max-width: 721px){
    #contenedor-footer-copyright > h6{
        font-size: 8px;
        display: flex;
        justify-content: center;
        
    }
}
